/* Global styles */

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  a {
    color: #0066cc;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  header {
    background-color: #0066cc;
    color: #fff;
    padding: 20px;
  }

  header a {
    color: #fff;
  }

  footer {
    padding-top: 50px;
  }

  footer p {
    text-align: center;
  }
